body{
background: #2C2B3D;
color: white;
width: 1280px;
height: 720px;
margin: auto;
}
#page{
  margin: 71px 99px 0;
  align-items: center;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}
ul{
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  list-style: none;
  gap: 64px;
  font-size: 16px;
}
main{
display: flex;
justify-content: space-between;
margin-bottom: 184px;
}
section{
  display: block;
  text-align: center;
}
h1{
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  line-height: 40px;
  margin: 6px 0 59px;
}
main p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  width: 604px;
  height: 168px;
}
footer{
  display: flex;
    justify-content: center;
}
footer p{
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  border-top: #00BFA6 1px solid;
  padding: 27px 53px 0;
  width: 568px;
  margin: 0;
}
#cadeado{
  position: fixed;
  bottom: 20px; 
      left: 20px; 
      z-index: 999; 
}
a{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
a:visited{
color: white;
}
a:hover{
  font-weight: bold;
}
span{
  color: #00BFA6;
}
ul






/*font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;